<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KUSM - Korea Univ. Sports Matching</title>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!--</button>-->
                <a class="navbar-brand" href="/">KUSM</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

        

    <!-- Page Content -->







    
    <header id="top" class="header">
        <div class="text-vertical-center">
            <!--<h3>회원가입</h3>-->
            <br>


<table align="center" class="table" style="table-layout:fixed; word-break:break-all; width:60%; float:center">
                <thead> 
                  <tr> 
                    <th style="color:orange; font-size: 20px; margin-left: 5cm;"><strong>회원가입 </strong></th>
                  </tr> 
                </thead>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
                    <%= devise_error_messages! %>
                    <div><% resource.errors.inspect %></div>
                
                <tbody>
                  <tr> <!-- 한 줄 -->
                      <td>
                          <div class="panel-body" style="padding-left: 1cm; color:black; font-size: 15px "> 이메일    </div>
                      </td>
                      <td>
                          <div class="panel-body">  
                      <%= f.email_field :email, autofocus: true, placeholder: "포털 메일" %>  </div>
                      </td>
                  </tr>
                  
                  <tr> <!-- 한 줄 -->
                      <td>
                          <div class="panel-body" style="padding-left: 1cm; color:black; font-size: 15px "> 이름    </div>
                      </td>
                      <td>
                          <div class="panel-body">                        
                      <%= f.text_field :name, autofocus: true %>    </div>
                      </td>
                  </tr>
                  
                  <tr> <!-- 한 줄 -->
                      <td>
                          <div class="panel-body" style="padding-left: 1cm; color:black; font-size: 15px "> 비밀번호</br>
                        </div>
                      </td>
                      <td>
                          <div class="panel-body">                      
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off" %> </div>
                      </td>
                  </tr>
                  
                  <tr> <!-- 한 줄 -->
                      <td>
                          <div class="panel-body" style="padding-left: 1cm; color:black; font-size: 15px "> 비밀번호 재확인    </div>
                      </td>
                      <td>
                          <div class="panel-body"> 
                      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
                      </td>
                  </tr>
                  

                  
                  <tr> <!-- 한 줄 -->
                      <td>
                          <div class="panel-body" style="padding-left: 1cm; color:black; font-size: 15px "> 소속 팀    </div>
                      </td>
                      <td>
                          <div class="panel-body"> 
                      <%= f.text_field :real_team, autofocus: true, placeholder: "실제 소속된 팀명" %> </div>
                      </td>
                  </tr>

                 
      
                </tbody>
                
              </table>
              <div class="form-group">
                  <div class="col-xs-offset-1 col-xs-10">
                      <%= f.submit "가입하기", class: 'btn btn-primary' %>  
                  </div>
              </div>
            <% end %>
            
            <%= render "devise/shared/links" %>

          </div>
        </div>
    </header>





<!-- 이전 파일

              <div class="border-form-div">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
              <%= devise_error_messages! %>
              <div><% resource.errors.inspect %></div>
              <div class="form-group">
                  <div class="col-xs-offset-1 col-xs-10">
                      <%= f.label :email %><br/>
                      <%= f.email_field :email, autofocus: true, placeholder: "포털 메일" %>
                  </div>
              </div>
              
              <div class="form-group">
                  <div class="col-xs-offset-1 col-xs-10">
                      <%= f.label :password %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off" %>
                  </div>
              </div>
              
              <div class="form-group">
                  <div class="col-xs-offset-1 col-xs-10">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "off" %>
                  </div>
              </div>
              
              <div class="form-group">
                  <div class="col-xs-offset-1 col-xs-10">
                      <%= f.label :이름 %><br/>
                      <%= f.text_field :name, autofocus: true %>
                  </div>
              </div>
              
              <div class="form-group">
                  <div class="col-xs-offset-1 col-xs-10">
                      <%= f.label :real_team %><br/>
                      <%= f.text_field :real_team, autofocus: true, placeholder: "실제 소속된 팀명" %>
                  </div>
              </div>
           
              <div class="form-group">
                  <div class="col-xs-offset-1 col-xs-10">
                      <%= f.submit "Sign up", class: 'btn btn-primary' %>  
                  </div>
              </div>
            <% end %>
            
            <%= render "devise/shared/links" %>
            </div>
        </div>
    </header>
-->
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 임시버튼</p></br>
                    <a href="/users/sign_in"> 로그인 </a>
                    <a href="/users/sign_up"> 회원가입 </a>
                    <a href="/home/main_page"> 들어가보는버튼 </a> 
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
